body{
    margin: 0;
}

.nav{
    background-color: bisque;
    height: 60px;
    width: 100%;
    position: fixed;
}
.logo{
    width:90px;
    height: 60px;
    /* background-color: blue; */
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 28px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(183, 127, 43);
    
}
.logo1{
    height: 50px;
    
}

.logo2{
    height: 12px;
    color: aliceblue;
    margin-right: px;
    word-spacing: 30px;
    /* position: fixed; */
    
}
.nav{
    background-color: #1d2a35;
    width: 100%;
    height: 60px;
    display: flex;
    z-index: 100000;
    cursor: pointer;
}
.tutorial{
    height: 40px;
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
    font-size:16px ;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tutorial:hover{
    height: 40px;
    position: absolute;
    background-color: #04AA6D;
    width: 120px;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
    font-size:16px ;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navtext2{
    color: rgb(255, 255, 255);
    height: 40px;
    position: absolute;
    left: 210px;
    width: 120px;
    padding-top: 20px; 
    font-size:16px ;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navtext2:hover{
    height: 40px;
    background-color: #04AA6D;
    position: absolute;
    left: 210px;
    width: 120px;
    padding-top: 20px; 
    font-size:16px ;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navtext3{
    height: 40px;
    position: absolute;
    left: 330px;
    color: rgb(255, 255, 255);
    width: 120px;
    padding-top: 20px; 
    font-size:16px ;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navtext3:hover{
    height: 40px;
    position: absolute;
    left: 330px;
    background-color: #04AA6D;
    width: 120px;
    padding-top: 20px; 
    font-size:16px ;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navtext4{
    height: 40px;
    position: absolute;
    left: 440px;
    color: rgb(255, 255, 255);
    width: 120px;
    padding-top: 20px; 
    font-size:16px ;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navtext4:hover{
    height: 40px;
    position: absolute;
    left: 440px;
    background-color: #04AA6D;
    
    width: 120px;
    padding-top: 20px; 
    font-size:16px ;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div1{
    height: 40px;
    position: absolute;
    left: 560px;
   
    width: 210px;
   padding-top: 20px; 
    font-size:16px ;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
.imgdiv{
    height: 40px;
    position: absolute;
    top: 0px;
    left: 160px;
   
    width: 60px;
   padding-top: 20px; 
   padding-left: ;
    font-size:16px ;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}


.imgdiv:hover{
    background-color: #f1f2f6;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 160px;
   border-radius: 80px;
    width: 50px;
   padding-top: 10px; 
   padding-left: ;
    font-size:16px ;
    font-weight: 600;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}


.dark{
    height: 40px;
    position: absolute;
    left: 770px;
    
    width: 70px;
    padding-top: 20px; 
}
.dark:hover{
    border-radius: 30px;
    height: 40px;
    position: absolute;
    left: 770px;
    background-color:#636779;
    width: 70px;
    padding-top: 20px; 
}
.darkimg{
    height: 18px;
    padding-left: 20px;
}
.div3{
    height: 40px;
    position: absolute;
    top: 10px;
    left: 900px;
    
    width: 130px;
    padding-top: 0px; 
    display: flex;
    padding-left: 60px;
    border-radius:50px ;
    align-items: center;
    

}
.div3:hover{
    height: 40px;
    position: absolute;
    top: 10px;
    left: 900px;
    background-color:#636779;
    width: 130px;
    padding-top: 0px; 
    display: flex;
    padding-left: 60px;
    border-radius:50px ;
    align-items: center;
    

}
.capimg{
    height: 15px;
    position: relative;
    left: -20px;
    z-index: 1;
    left: -120px;
    top: 0px;
}
.div4{
    height: 40px;
    position: absolute;
    top: 10px;
    left: 1100px;
    
    width: 60px;
    padding-top: 0px; 
    display: flex;
    padding-left: 40px;
    border-radius:50px ;
    align-items: center;
}
.div4:hover{
    height: 40px;
    position: absolute;
    top: 10px;
    left: 1100px;
    background-color:#636779;
    width: 60px;
    padding-top: 0px; 
    display: flex;
    padding-left: 40px;
    border-radius:50px ;
    align-items: center;
}
.starimg{
    height: 40px;
    position: relative;
    
    z-index: 1;
    left: -40px;
    top: 0px;
}
.div5{
    height: 40px;
    position: absolute;
    top: 10px;
    left: 1210px;
    width: 60px;
    padding-top: 0px; 
    display: flex;
    padding-left: 40px;
    border-radius:50px ;
    align-items: center;
}
.div5:hover{
    height: 40px;
    position: absolute;
    top: 10px;
    left: 1210px;
    background-color: #636779;
    width: 60px;
    padding-top: 0px; 
    display: flex;
    padding-left: 40px;
    border-radius:50px ;
    align-items: center;
}
.tagimg{
    height: 15px;
    position: relative;
    
    z-index: 1;
    left: -75px;
    top: 0px;
}
.div6{
    height: 40px;
    position: absolute;
    top: 10px;
    left: 1325px;
    width: 130px;
    padding-top: 0px; 
    display: flex;
    padding-left: 40px;
    border-radius:50px ;
    align-items: center;  
}
.div6:hover{
    height: 40px;
    position: absolute;
    top: 10px;
    left: 1325px;
    background-color: #636779;
    width: 130px;
    padding-top: 0px; 
    display: flex;
    padding-left: 40px;
    border-radius:50px ;
    align-items: center;  
}
.shopimg{
    height: 18px;
    position: relative;
    
    z-index: 1;
    left: -110px;
    top: 0px;
}
.div7{
    height: 50px;
    position: absolute;
    top: 5px;
    left: 1515px;
    width: 80px;
    padding-top: 0px; 
    background-color: #04AA6D;
    display: flex;
    padding-left: 20px;
    border-radius:50px ;
    align-items: center;
    z-index: 1;
}
.div7:hover{
    height: 50px;
    position: absolute;
    top: 5px;
    left: 1515px;
    background-color: #038455;
    width: 80px;
    padding-top: 0px; 
    display: flex;
    padding-left: 20px;
    border-radius:50px ;
    align-items: center;
    z-index: 1;
}
.login{
    height: 50px;
    position: absolute;
    top: 5px;
    left: 1565px;
    background-color:#ffffff;
    width: 60px;
    padding-top: 0px; 
    display: flex;
    padding-left: 60px;
    border-radius:50px ;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login:hover{
    height: 50px;
    position: absolute;
    top: 5px;
    left: 1565px;
    background-color:#04aa6dc9;
    width: 60px;
    padding-top: 0px; 
    display: flex;
    padding-left: 60px;
    border-radius:50px ;
    align-items: center;
    
}


p{
    font-weight: 400px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 1;
    
}
.nav2{
    display: grid;
    grid-template-areas: "logo search serveces";
    background-color: #1d2a35df;
    height: 30px;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 70px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    cursor: pointer;
    padding-left: -80px;
    margin-left: -90px;
    
}

.serveces{
    font-size: 15p;
    display: grid;
    grid-template-areas: "html css javascript sql python java php how w3 c c2 c3 bootstrap react mysql jquery excel xml django numpy";
    margin-top: 0px;
    position: relative;
    top: -5px;
    overflow-x:scroll;
    overflow-y:hidden;
    width: 2000px;
    scrollbar-width: none;
    /* position: fixed; */
    top: -10px;
    background-color:#293238;
    z-index: 10000;
    padding-left: -80px;
}
.serveces div{
    font-size: 16px;
    color: #e0e1e7;
    font-weight: 450;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.html{
    grid-area: html;
    color: rgb(255, 255, 255);
    
    height: 30px;
    padding-top: 10px;
    padding-left: 20px;
    
}
.html:hover{
    background-color: #04AA6D;
}
.css{
    grid-area: css;
    color: white;
    height: 30px;
    padding-top: 10px;
    padding-left: 20px;
}
.css:hover{
    grid-area: css;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.javascript{
    grid-area: javascript;
    color: #ffffff;
    height: 30px;
    padding-top: 10px;
    padding-left: 20px;
}
.javascript:hover{
    grid-area: javascript;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.sql{
    grid-area: sql;
    color: rgb(255, 255, 255);
    
    height: 30px;
    padding-top: 10px;
    padding-left: 20px;
}
.sql:hover{
    grid-area: sql;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.python{
    grid-area: python;
    color: rgb(251, 253, 255) ;

    height: 30px;
    padding-top: 10px;
    padding-left: 20px;
}
.python:hover{
    grid-area: python;
    color: rgb(250, 252, 255) ;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.java{
    grid-area: java;
    color: rgb(255, 255, 255) ;
 
    height: 30px;
    padding-top: 10px;
    padding-left: 20px;
}
.java:hover{
    grid-area: java;
    color: rgb(12, 85, 176) ;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.c{
    grid-area:c;
    color: rgb(255, 255, 255) ;
    
    height: 30px;
    padding-top: 10px;
    padding-left: 20px;
}
.php{
    grid-area: php;
    padding-left: 20px;
    height: 30px;
    padding-top: 10px;
    color: white;
    
}
.how{
    grid-area: how;
    padding-left: 20px;
    height: 30px;
    padding-top: 10px;
    color: white;
}
.c:hover{
    grid-area:c;
    color: rgb(12, 85, 176) ;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.php:hover{
    grid-area: php;
    height: 30px;
    padding-top: 10px;
    background-color: #04AA6D;
}
.how:hover{
    grid-area: how;
    height: 30px;
    padding-top: 10px;
    background-color: #04AA6D;
}


.w3{
    grid-area: w3;
    padding-left: 20px;
    height: 30px;
    padding-top: 10px;
    color: white;
}
.c2{
    grid-area: c2;
    padding-left: 20px;
    color: rgb(244, 246, 248) ;
    
    height: 30px;
    padding-top: 10px;
}
.c3{
    grid-area: c3;
    padding-left: 20px;
    color: rgb(245, 247, 249) ;
    
    height: 30px;
    padding-top: 10px;
}
.bootstrap{
    grid-area: bootstrap;
    padding-left: 20px;
    color: rgb(255, 255, 255) ;
    
    height: 30px;
    padding-top: 10px;
}
.react{
    grid-area: react;
    padding-left: 20px;
    color: rgb(255, 255, 255) ;
   
    height: 30px;
    padding-top: 10px;
}
.mysql{
    grid-area: mysql;
    padding-left: 20px;
    color: rgb(255, 255, 255) ;

    height: 30px;
    padding-top: 10px;
}
.jquery{
    grid-area: jquery;
    padding-left: 20px;
    color: rgb(255, 255, 255) ;
    height: 30px;
    padding-top: 10px;
}
.excel{
    grid-area: excel;
    padding-left: 20px;
    color: rgb(255, 255, 255) ;

    height: 30px;
    padding-top: 10px;
}
.xml{
    grid-area: xml;
    padding-left: 20px;
    color: rgb(255, 255, 255) ;
    height: 30px;
    padding-top: 10px;
}
.django{
    padding-left: 20px;
    grid-area: django;
    color: rgb(255, 255, 255) ;
   
    height: 30px;
    padding-top: 10px;
}
.numpy{
    grid-area: numpy;
    padding-left: 20px;

    height: 30px;
    padding-top: 10px;
}






.w3:hover{
    grid-area: w3;
    height: 30px;
    padding-top: 10px;
    color: rgb(255, 255, 255) ;
    background-color: #04AA6D;}
.c2:hover{
    grid-area: c2;
    color: rgb(255, 255, 255) ;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.c3:hover{
    grid-area: c3;
    color: rgb(255, 255, 255) ;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.bootstrap:hover{
    grid-area: bootstrap;
    color: rgb(255, 255, 255) ;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.react:hover{
    grid-area: react;
    color: rgb(255, 255, 255) ;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.mysql:hover{
    grid-area: mysql;
    color: rgb(255, 255, 255) ;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.jquery:hover{
    grid-area: jquery;
    color: rgb(255, 255, 255) ;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.excel:hover{
    grid-area: excel;
    color: rgb(255, 255, 255) ;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.xml:hover{
    grid-area: xml;
    color: rgb(255, 255, 255) ;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.django:hover{
    grid-area: django;
    color: rgb(255, 255, 255) ;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}
.numpy:hover{
    grid-area: numpy;
    color: rgb(255, 255, 255) ;
    background-color: #04AA6D;
    height: 30px;
    padding-top: 10px;
}




.search{
border: 1px solid bisque;
border-radius: 50px;
/* background-color: beige; */
width: 0px;
margin-top: 0px;
position: relative;
left: px;
bottom: 10px;
height: 35px;

width: 200px;
font-size: 18px;
font-style: italic;

}
.searchimg{
   height: 20px;
   position: absolute;
   left: 20px;
   
}

/* .dark{

}
.darkimg{
    height:25px ;
    margin-left: 30px;
    margin-top: -5px;
} */




.main{
    height: 1090px;
    width: 100%;
    background-color: #1d2a35;
    padding-top: 10px;
}
h1{
    color: white;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 100px;

}
h2{
    color: white;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.main2{
    height:630px ;
    width: 1280px;
    background-color: #04AA6D;
    display: flex;
    border-radius: 20px;
}
.subdiv{
    height: 630px;
    
    background-color: rgb(172, 124, 218);
    width: 430px;
    border-top-left-radius: 10px  ;
    border-bottom-left-radius:10px ;
    /* display: flex; */
}
.subdiv1{
    height: 630px;
    background-color: blueviolet;
    width: 430px;
    
    /* display: flex; */
}

.subdiv2{
    height: 630px;
    
    background-color: rgb(94, 5, 177);
    width: 430px;
    border-top-right-radius: 10px  ;
    border-bottom-right-radius:10px ;
}
.b3{
    height: 500px;
    width: 200px;
    /* background-color: aqua; */
    padding-top: 10px;
    margin-top: 0px;
}
h3{
    font-size: 100px;
    font-weight: 500;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
}
h4{
    color: white;
    padding-top: 1000px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
}
h4:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.text{
    color: white;
    padding-top: -100px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: -100px;
}
.footer{
    background-color: #04AA6D;
    height: 885px;
    background-image: url(images/background_in_space.webp);
    background-repeat: no-repeat;
    background-size: 1700px;
    /*  */
}
.space{
    
    position: relative;
    left: 905px;
    top:355px ;
}
.astronet{
    position: relative;
    height: 500px;
    top: -504px;
    left: 1120px;
    margin: 0p;
}
.w33{
    /* background-color: #1d2a35; */
    height: 60px;
}
.table{
    width: 1000px;
    position: relative;
    top: -460px;
    left: 160px;
    font-size: medium;
    color:rgb(220, 227, 28) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-bottom: 0px;
}
table{
    width: 1500px;
    position: relative;
    font-size: 14px;
    color: #e0e1e7;
    margin: 0px;
    padding-left: 100px;
    position: relative;
    top: -400px;
    
}
.last{
    position: relative;
    top: -350px;
    left: 0px;
    padding-left: 100px;
}